@{
    ViewBag.Title = "Pizza Portal";
}

<main>
    <section class="row" aria-labelledby="pizzaPortalTitle">
        <h1 id="title">Pizza Portal</h1>
        <p class="lead">Welcome to Pizza Portal, your favorite place for Amazing collection of pizzas!</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="specialsTitle">
            <h2 id="specialsTitle">Today Special Menu</h2>
            <p>Dive into the world of pizza with our Today specials and deals on mouthwatering pizzas!</p>
        </section>
        <section class="col-md-4" aria-labelledby="menuTitle">
            <h2 id="menuTitle">Menu</h2>
            <p>Explore our wide range of pizzas</p>
        </section>
    </div>

</main>