
@{
    ViewBag.Title = "PaymentMode";
}

<h2>Payment Status</h2>
The Total Price of @TempData["PizzaType"] = Rs. @TempData["TotalPrice"]
<br />
The order will be delivered at @TempData["Address"]

<p>
    @Html.ActionLink("Order", "OrderSuccess")
</p>

